.jumbotron{
    margin-top: -20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
  padding:50px;
  background-color: #c4c1b3;
}
#navbar{
    background-color: #284c75;
    color: #ded9d7;
    margin: 0%;
    
}
#content{
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans';
    
}
.nav navbar-nav{
    color:white;
}
body{
    background-color:#b58e00;
}